<app-header-merged></app-header-merged>
<div class="w-full lg:w-10/12 px-4 mx-auto mt-6">
    <div class="relative flex flex-col min-w-0 w-full mb-6 shadow-lg rounded-lg bg-blueGray-100  h-3/4 border-0 bg-gray-100">
        <div class="rounded-t bg-white mb-0 px-6 py-6">
            <div class="w-full lg:w-1/4 px-6 mt-4">
                <div class="relative w-full mb-3">
                    <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="session">
                        Lists
                    </label>
                    <select id="Request"
                        class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option>All Student List</option>
                        <option>All Teacher List</option>
                    </select>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
                                <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
                                    <tr>
                                        <th scope="col" class="px-6 py-4">Teacher Name</th>
                                        <th scope="col" class="px-6 py-4">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-b border-neutral-200 dark:border-black/10">
                                        <td class="whitespace-nowrap px-6 py-4 items-center">Mr. Pravin Maruti Rupnar
                                        </td>
                                        <button
                                            class=" bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg mt-2"
                                            type="button">
                                            View
                                        </button>
                                        <button
                                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg ml-3"
                                            type="button">
                                            Remove
                                        </button>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
