<app-header-merged></app-header-merged>
<div class="w-full lg:w-10/12 px-4 mx-auto">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0 ">

        <div class="rounded-t bg-gray-100 mb-0 px-6 py-6">
         
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
                <div
                    class="w-full p-6 bg-white rounded-lg shadow dark:border sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
                    <h2
                        class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Change Password
                    </h2>
                    <form (ngSubmit)="changePassword()" #passwordForm="ngForm" class="mt-4 space-y-4 lg:mt-5 md:space-y-5">
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                                Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" 
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required minlength="8" [(ngModel)]="newPassword">
                            <div *ngIf="passwordForm.controls['password'].errors?.['required'] && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)" class="text-red-500">New Password is required.</div>
                            <div *ngIf="passwordForm.controls['password'].errors?.['minlength'] && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)" class="text-red-500">New Password must be at least 8 characters long.</div>
                        </div>
                        <div>
                            <label for="confirm-password" 
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                                password</label>
                            <input type="password" name="confirm-password" id="confirm-password"
                                placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required [(ngModel)]="confirmPassword">
                            <div *ngIf="passwordForm.controls['confirm-password'].errors?.['required'] && (passwordForm.controls['confirm-password'].dirty || passwordForm.controls['confirm-password'].touched)" class="text-red-500">Confirm Password is required.</div>
                            <div *ngIf="newPassword !== confirmPassword && (passwordForm.controls['confirm-password'].dirty || passwordForm.controls['confirm-password'].touched)" class="text-red-500">Passwords do not match.</div>
                        </div>
                        <!-- Add Skip label -->
                        <a href="/login">
                        <div class=" text-end mr-8 mt-4">
                            <label class="text-sm font-medium text-gray-600 hover:underline dark:text-gray-500">Skip-></label>
                        </div>
                    </a>
                        <button type="submit" [disabled]="passwordForm.invalid"
                            class="w-full text-black bg-blue-300 hover:bg-blue-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Change
                            password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
