<app-header-merged></app-header-merged>
<div class="w-full lg:w-10/12 h-70 px-4 mx-auto mt-6 rounded">
    
    <div class="relative flex flex-col min-w-0 w-full mb-6 shadow-lg rounded-lg bg-blueGray-100  h-3/4 border-0 bg-gray-100">
        <div class="rounded-t bg-gray-100 mb-0 px-6 py-6 text-center mt-3 rounded items-start">
           
            <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                    <div class="flex flex-wrap">
                        <div class="relative w-full mb-3">
                            <a href="/TakeAttendance">
                                <button type="button"
                                    class="w-full bg-blue-300 text-black hover:bg-blue-600 font-bold uppercase text-lg px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-4 ease-linear transition-all duration-150 h-32 lg:w-60 mt-10">
                                    Fill Attendance
                                </button>
                            </a>
                            <a href="/TakeUTMarks">
                                <button type="button"
                                    class="w-full bg-blue-300 text-black hover:bg-blue-600 font-bold uppercase text-lg px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-4 ease-linear transition-all duration-150 h-32 lg:w-60 mt-10">
                                    Fill UT Marks
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                    <div class="flex flex-wrap">
                        <div class="relative w-full mb-3">
                            <a href="/StudyResource">
                            <button type="button"
                                class="w-full bg-blue-300 text-black hover:bg-blue-600 font-bold uppercase text-lg px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-12 ease-linear transition-all duration-150 h-32 lg:w-60 mt-10">
                                Send Study Resource
                            </button>
                        </a>
                        <a href="">
                            <button type="button"
                                class="w-full bg-blue-300 text-black hover:bg-blue-600 font-bold uppercase text-lg px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-12 ease-linear transition-all duration-150 h-32 lg:w-60 mt-10">
                                New Request
                            </button>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
