<app-header-merged></app-header-merged>
<div class="w-full lg:w-10/12 px-4 mx-auto mt-6">
    <div
        class="relative flex flex-col min-w-0 w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 h-3/4 border-0 bg-gray-100">
        <div class="rounded-t bg-gray-100 mb-0 px-6 py-6">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-1/5 px-6 mt-4">
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="session">
                            Filter
                        </label>
                        <select id="Filter"
                            class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option>TY CO</option>
                            <option>SY CO</option>
                            <option>FY CO</option>
                        </select>
                    </div>
                </div>
                <div class="w-full lg:w-1/4 px-6 mt-4">
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="session">
                            Lists
                        </label>
                        <select #selectRole (change)="onRoleChange(selectRole.value)"
                            class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="student">All Student List</option>
                            <option value="teacher">All Teacher List</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8" *ngIf="selectedRole === 'student'">
                        <div class="overflow-hidden">
                            <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
                                <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
                                    <tr>
                                        <th scope="col" class="px-6 py-4">Roll No</th>
                                        <th scope="col" class="px-6 py-4">Student Name</th>
                                        <th scope="col" class="px-6 py-4">Action</th>
                                    </tr>
                                </thead>
                                <tbody (click)="fun()">
                                    <tr *ngFor="let student of students">
                                        <td class="whitespace-nowrap px-6 py-4 font-balck">{{ student.rollNo }}</td>
                                        <td class="whitespace-nowrap px-6 py-4 items-center">{{ student.name }}</td>
                                        <td class="flex">
                                            <button
                                                class="flex-shrink-0 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg mt-2">
                                                View
                                                <!--  -->
                                                <div class="fixed inset-0 collapse z-50 w-full">
                                                    <input type="checkbox" id="Remove"
                                                        class="peer appearance-none collapse opacity-0">
                                                    <div
                                                        class="absolute bg-slate-800 bg-opacity-60 px-10 inset-0 w-full flex justify-center items-center invisible opacity-0 peer-checked:visible peer-checked:opacity-100 peer-checked:[&>*]:scale-100 transition-all">
                                                        <div
                                                            class="relative z-40 max-h-[calc(100vh-5em)] w-11/12 md:w-4/12 max-w-screen-md cursor-auto overflow-y-auto rounded-sm bg-white py-6 px-6 md:px-8 scale-90 md:scale-100 transition-all text-center rounded-lg">
                                                            <label for="Remove"
                                                                class="group absolute top-5 right-5 cursor-pointer w-auto transition-all rounded-full">
                                                                <svg class="h-4 w-auto group-hover:opacity-50 transition-all"
                                                                    width="40" height="48" viewBox="0 0 48 48" fill="none">
                                                                    <path d="M3 45L45 3" stroke="#1E293B" stroke-width="5"
                                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                                    <path d="M45 45L3 3" stroke="#1E293B" stroke-width="5"
                                                                        stroke-linecap="round" stroke-linejoin="round" />
                                                                </svg>
                                                            </label>
                                                            <p class="text-lg md:text-2xl mb-4">Are You Want to Remove
                                                            </p>
                                                            <div
                                                                class="w-full flex justify-center items-center flex-row gap-4 flex-wrap">
                                                                <div
                                                                    class="bg-white-300 hover:bg-white-600 text-black font-bold py-2 px-4 border border-blue-700 rounded-full cursor-pointer">
                                                                    Cancel</div>
        
        
                                                                <div
                                                                    class="bg-red-500 hover:bg-red-700 text-black font-bold py-2 px-4 border border-blue-700 rounded-full cursor-pointer">
                                                                    Remove</div>
        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </button>
                                            <label for="Remove"
                                            class="flex-shrink-0 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg mt-2 ml-3">Remove
                                        </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8" *ngIf="selectedRole === 'teacher'">
                        <div class="overflow-hidden">
                            <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
                                <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
                                    <tr>
                                        <th scope="col" class="px-6 py-4">Sr No</th>
                                        <th scope="col" class="px-6 py-4">Teacher Name</th>
                                        <th scope="col" class="px-6 py-4">Action</th>
                                    </tr>
                                </thead>
                                <tbody (click)="fun()">
                                    <tr *ngFor="let teacher of teachers">
                                        <td class="whitespace-nowrap px-6 py-4 font-balck">{{ teacher.srNo }}</td>
                                        <td class="whitespace-nowrap px-6 py-4 items-center">{{ teacher.name }}</td>
                                        <td class="flex">
                                            <button
                                                class="flex-shrink-0 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg mt-2">
                                                View
                                            </button>
                                            <div class="fixed inset-0 collapse z-50 w-full">
                                                <input type="checkbox" id="Remove"
                                                    class="peer appearance-none collapse opacity-0">
                                                <div
                                                    class="absolute bg-slate-800 bg-opacity-60 px-10 inset-0 w-full flex justify-center items-center invisible opacity-0 peer-checked:visible peer-checked:opacity-100 peer-checked:[&>*]:scale-100 transition-all">
                                                    <div
                                                        class="relative z-40 max-h-[calc(100vh-5em)] w-11/12 md:w-4/12 max-w-screen-md cursor-auto overflow-y-auto rounded-sm bg-white py-6 px-6 md:px-8 scale-90 md:scale-100 transition-all text-center rounded-lg">
                                                        <label for="Remove"
                                                            class="group absolute top-5 right-5 cursor-pointer w-auto transition-all rounded-full">
                                                            <svg class="h-4 w-auto group-hover:opacity-50 transition-all"
                                                                width="40" height="48" viewBox="0 0 48 48" fill="none">
                                                                <path d="M3 45L45 3" stroke="#1E293B" stroke-width="5"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                                <path d="M45 45L3 3" stroke="#1E293B" stroke-width="5"
                                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                            </svg>
                                                        </label>
                                                        <p class="text-lg md:text-2xl mb-4">Are You Want to Remove
                                                        </p>
                                                        <div
                                                            class="w-full flex justify-center items-center flex-row gap-4 flex-wrap">
                                                            <div
                                                                class="bg-white-300 hover:bg-white-600 text-black font-bold py-2 px-4 border border-blue-700 rounded-full cursor-pointer">
                                                                Cancel</div>


                                                            <div
                                                                class="bg-red-500 hover:bg-red-700 text-black font-bold py-2 px-4 border border-blue-700 rounded-full cursor-pointer">
                                                                Remove</div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label for="Remove"
                                                class="flex-shrink-0 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-blue-700 rounded-lg mt-2 ml-3">Remove
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>