<!-- <app-signupteacher></app-signupteacher>
<app-signup-student></app-signup-student>
 <app-loginpageall></app-loginpageall>
<app-homepage></app-homepage>
<app-takeattendance></app-takeattendance>
<app-take-utmarks></app-take-utmarks>
<app-studyshear></app-studyshear>
<app-studyshear1></app-studyshear1>
<app-newteacher-requsetpage></app-newteacher-requsetpage>
<app-newstudent-requsetpage></app-newstudent-requsetpage>
<app-all-studetn-list></app-all-studetn-list>
<app-allteacherlist></app-allteacherlist>
<app-list-student-request></app-list-student-request>
<app-list-teacher-request></app-list-teacher-request> 
<app-teacher-leave-application></app-teacher-leave-application>
<app-leave-applicationrecive></app-leave-applicationrecive>
<app-changepassword></app-changepassword>
 <app-forgotpassword></app-forgotpassword> 
<app-viewprofilestudent></app-viewprofilestudent> 
<app-viewprofileteacher></app-viewprofileteacher>
<app-viewprofile-hod></app-viewprofile-hod> -->
<!-- <app-view-utmarks></app-view-utmarks> -->
<router-outlet></router-outlet>
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-header-merged></app-header-merged> -->
<!-- <app-leaverequestall></app-leaverequestall> -->
<!-- <app-leaverequestallteacher></app-leaverequestallteacher> -->
<!-- <app-homepagestudent></app-homepagestudent> -->
<!-- <app-landingpages></app-landingpages> -->
<!-- <app-promptsignup></app-promptsignup> -->
<!-- <app-resetpass></app-resetpass> -->
<!-- <button (click)="fun()">click</button> -->
<!-- <app-about-uspage></app-about-uspage> -->
<!-- <app-contect-us></app-contect-us> -->