<app-header-merged></app-header-merged>
<div class="flex justify-center h-screen">
    <div class="w-full lg:w-10/12 px-4 mt-6">
        <div class="relative flex-col min-w-0 break-words w-full rounded-lg bg-blueGray-100 border-0">
            <div class="rounded-t bg-gray-100 mb-0 px-6 py-6 h-dvh">
                
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-1/6 px-6 mt-4">
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="batch">
                                SubjectName
                            </label>
                            <select id="batch"
                                class="block w-full p-2 mb-6 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option>Selection</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mt-10">
                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                            <div class="overflow-hidden">
                                <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
                                    <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
                                        <tr>
                                            <th scope="col" class="px-6 py-4">Type</th>
                                            <th scope="col" class="px-6 py-4">Description</th>
                                            <th scope="col" class="px-6 py-4">Date And time</th>
                                            <th scope="col" class="px-6 py-4">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border-b border-neutral-200 dark:border-white/10">
                                            <td class="whitespace-nowrap px-6 py-4">PDF</td>
                                            <td class="whitespace-nowrap px-6 py-4">Description of the pdf whatever may be</td>
                                            <td class="whitespace-nowrap px-6 py-4">31/3/2024  8:00</td>
                                            <button class="text-white bg-blue-700 mt-2 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Delete</button>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>